@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,700');

.login-container {
    width: 100%;
    height: 60px;
    background-color: rgb(209, 217, 231)
}

.login-form {
    margin-top: 10px;
}

.new-account {
    width: 300px;
    margin-left: 100px;
    margin-top: 10px;
}

#loginbutton {
    background: #47558b;
    color: white;
}

#loginbutton:hover {
    background: #427982;
}

#createnew {
    background: #47558b;
    color: white;
}

#createnew:hover {
    background: #427982;
}

label {
    padding: 0.5em 0.5em 0.5em 0;
}


form input {
    background: #fff;
    border: 1px solid #9c9c9c;
    width: 100%;
}

input {
    padding: 0.7em;
    margin-bottom: 0.5rem;
    width: 100%;
}

input:focus {
    outline: 3px solid yellow;
    width: 100%;
}

#navform {
    margin-left: 10px;
    margin-right: 10px;
}