@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,700');

.login-container {
    width: 100%;
    height: 60px;
    background-color: rgb(209, 217, 231)
}

.login-form {
    margin-top: 10px;
}

.new-account {
    width: 300px;
    margin-left: 100px;
    margin-top: 10px;
}