@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

#carousel-college {
    text-align: center;
    height: 700px;
    margin-bottom: 70px
  }
  #carousel-college img {
      width: 100%;
      height: 900px
}

    .caption {
      margin-bottom: 400px;
      text-shadow: .5px 1px gray;
      color: black;
      font-family: 'Crimson Text', serif;
      background-color: white;
      opacity:0.8;
      border-radius: 15px;
    }

    .caption h1 {
      margin-bottom: 40px;
      font-weight: 900;
      font-size: 120px;
      letter-spacing: 2px;
    }

    .caption h2 {
    margin-bottom: 20px;
    font-size: 25px;
    }

    .caption h3 {
    margin-bottom: 40px;
    }

